.latestIncident {
    justify-content: center;
    border: 1px solid #adadad;
    border-radius: 1em;
    background-color: #747c9251;
    color: #747c92;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.4fr 1fr 0.2fr;
    grid-template-areas:
        'header header'
        'title body'
        'dropdown dropdown';

    * {
        margin: 0 0.5em 0 0.5em;
    }

    .header {
        font-weight: lighter;
        grid-area: header;
        margin: 0.75em;
    }

    .title {
        font-weight: bold;
        color: #8bad8c;
        grid-area: title;
        display: flex;
        text-align: center;
        align-self: center;
    }

    .body {
        grid-column: 2 / 2;
        grid-area: body;
    }

    .dropdownButton {
        grid-column: 1 / 2;
        grid-area: dropdown;
        justify-self: center;
        margin: 0.5em;
    }
}
