.test-filler:empty {
    height: 1000px;
}

.Incidents {
    border: 1px solid #adadad;
    background-color: #747c9251;
    color: #747c92
}

.Incidents-Header {
    font-weight: lighter;
}

.Incidents-Title {
    font-weight: bold;
    color: #8bad8c;
}

@import "~bootstrap/scss/bootstrap";